---
title: "Basic usage"
subtitle: "/ Carousel / Extensions / Examples"
layout: default
---

<style type="text/css">
{% include examples/extensions/carousel/basic/example.css %}
</style>

{% include examples/extensions/carousel/basic/example.html %}

<h3>CSS</h3>
{% highlight css %}
{% include examples/extensions/carousel/basic/example.css %}
{% endhighlight %}

<h3>HTML</h3>
{% highlight html %}
{% include examples/extensions/carousel/basic/example.html %}
{% endhighlight %}

<h3>JavaScript</h3>
{% highlight js %}
{% include examples/extensions/carousel/basic/example.js %}
{% endhighlight %}

{% include scripts/jquery.html %}
{% include scripts/slidex.html %}
{% include scripts/slidex_carousel.html %}

<script type="text/javascript">
$(function() {
{% include examples/extensions/carousel/basic/example.js %}
});
</script>