<div class="image-slides slideshow">
    <img src="/assets/images/flowing-rock.jpg" width="580" height="360" alt="Flowing Rock">
    <img src="/assets/images/grass-blades.jpg" width="580" height="360" alt="Grass Blades">
    <img src="/assets/images/stones.jpg" width="580" height="360" alt="Stones">
    <img src="/assets/images/sea-mist.jpg" width="580" height="360" alt="Sea Mist">
    <img src="/assets/images/pier.jpg" width="580" height="360" alt="Pier">
    <img src="/assets/images/lotus.jpg" width="580" height="360" alt="Lotus">
    <img src="/assets/images/mojave.jpg" width="580" height="360" alt="Mojave">
    <img src="/assets/images/lightning.jpg" width="580" height="360" alt="Lightning">
    <img src="/assets/images/ladybug.jpg" width="580" height="360" alt="Ladybug">
</div>