<style type="text/css">
    .richtext-slides {
        width: 580px;
        height: 126px;
        position: relative;
        overflow: hidden;
        padding: 0;
        margin: 0;
        background: #eee;
        list-style: none;
    }

    .richtext-slides li {
        position: absolute;
        display: block;
        overflow: hidden;
        padding: 1em;
        height: 160px;
        background: #eee;
        z-index: 0;
    }

    .richtext-slides li.active {
        z-index: 2;
    }

    .richtext-slides li.last-active {
        z-index: 1;
    }

    .img-box img {
        float: left;
        margin-right: 1em;
    }
    .img-box-text {
        display: table;
        margin: 0;
    }
</style>

<ul class="slideshow richtext-slides">
    <li>
        <div class="img-box">
            <a href="#"><img alt="" src="http://placehold.it/100x100"></a>
            <div class="img-box-text">
                Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo.
            </div>
        </div>
    </li>
    <li>
        <div class="img-box">
            <a href="#"><img alt="" src="http://placehold.it/100x100"></a>
            <div class="img-box-text">
                Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt, neque porro quisquam est, qui dolorem ipsum, quia dolor sit, amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt, ut labore et dolore magnam aliquam quaerat voluptatem.
            </div>
        </div>
    </li>
    <li>
        <div class="img-box">
            <a href="#"><img alt="" src="http://placehold.it/100x100"></a>
            <div class="img-box-text">
                Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
            </div>
        </div>
    </li>
    <li>
        <div class="img-box">
            <a href="#"><img alt="" src="http://placehold.it/100x100"></a>
            <div class="img-box-text">
                Quis autem vel eum iure reprehenderit, qui in ea voluptate velit esse, quam nihil molestiae consequatur, vel illum, qui dolorem eum fugiat, quo voluptas nulla pariatur?
            </div>
        </div>
    </li>
    <li>
        <div class="img-box">
            <a href="#"><img alt="" src="http://placehold.it/100x100"></a>
            <div class="img-box-text">
                At vero eos et accusamus et iusto odio dignissimos ducimus, qui blanditiis praesentium voluptatum deleniti atque corrupti, quos dolores et quas molestias excepturi sint, obcaecati cupiditate non provident, similique sunt in culpa, qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
            </div>
        </div>
    </li>
</ul>