{% include examples/image-slides.css %}

.slides {
    position: relative;
}

.slidex-pagination {
    margin-top: 1em;
}

.slidex-pagination li {
    cursor: pointer;
    opacity: .4;
}

ul.slidex-pagination li.active, ul.slidex-pagination li:hover {
    opacity: 1;
}

.slidex-pagination li a {
    outline: none;
}