body {
    padding-top: 60px;
}

pre > code {
    background: none;
}

h2.title {
    margin: 20px 0;
}

.slides {
    margin-bottom: 18px;
}

.slides .media-grid a {
    margin-bottom: 0;
}

.slidex-caption a {
    color: #bbb;
    text-decoration: underline;
}