---
title: "Multiple instances"
subtitle: "/ Examples"
layout: default
---

<style type="text/css">
{% include examples/multiple-instances/example.css %}
</style>

{% include examples/multiple-instances/example.html %}

<h3>CSS</h3>
{% highlight css %}
{% include examples/multiple-instances/example.css %}
{% endhighlight %}

<h3>HTML</h3>
{% highlight html %}
{% include examples/multiple-instances/example.html %}
{% endhighlight %}

<h3>JavaScript</h3>
{% highlight js %}
{% include examples/multiple-instances/example.js %}
{% endhighlight %}

{% include scripts/jquery.html %}
{% include scripts/slidex.html %}

<script type="text/javascript">
$(function() {
{% include examples/multiple-instances/example.js %}
});
</script>