---
title: "Thumbnails"
subtitle: "/ Pagination / Extensions / Examples"
layout: default
---

<style type="text/css">
{% include examples/extensions/pagination/thumbnails/example.css %}
</style>

{% include examples/extensions/pagination/thumbnails/example.html %}

<h3>CSS</h3>
{% highlight css %}
{% include examples/extensions/pagination/thumbnails/example.css %}
{% endhighlight %}

<h3>HTML</h3>
{% highlight html %}
{% include examples/extensions/pagination/thumbnails/example.html %}
{% endhighlight %}

<h3>JavaScript</h3>
{% highlight js %}
{% include examples/extensions/pagination/thumbnails/example.js %}
{% endhighlight %}

{% include scripts/jquery.html %}
{% include scripts/slidex.html %}
{% include scripts/slidex_pagination.html %}

<script type="text/javascript">
$(function() {
{% include examples/extensions/pagination/thumbnails/example.js %}
});
</script>