<div class="slides">
    <div class="image-slides">
        <!-- http://www.flickr.com/photos/diegogutierrez/5359352491/sizes/l/in/photostream/ -->
        <img src="http://farm6.staticflickr.com/5045/5359352491_0572513b08_b.jpg" title="Caption 1">
        <!-- http://www.flickr.com/photos/konaboy/167725083/sizes/o/in/photostream/ -->
        <img src="http://farm1.staticflickr.com/77/167725083_1960595514_o.jpg" title="Caption 2">
    </div>
    <div class="slidex-caption"></div>
    <!--ul class="slidex-caption">
        <li>Caption 1</li>
        <li>Caption 2</li>
    </ul-->
</div>