.slides {
    position: relative;
}

.slidex-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    z-index: 20;
    overflow: hidden;
    background: #000;
    background: rgba(0, 0, 0, .3);
}

ul.slidex-caption li {
    display: none;
    width: 940px;
    margin: 0;
    padding: .5em 1em;
    list-style: none;
    color: #fff;
}