<div class="slides image-slides">
    <img src="http://farm6.staticflickr.com/5045/5359352491_0572513b08_b.jpg" alt="Acuarela">
    <img src="http://farm1.staticflickr.com/77/167725083_1960595514_o.jpg" alt="Banana #9">
    <ul class="slidex-caption">
        <li><a href="http://www.flickr.com/photos/diegogutierrez/5359352491/in/photostream/"><strong>Acuarela</strong></a><br>At vero eos et accusamus et iusto odio dignissimos ducimus, qui blanditiis praesentium voluptatum deleniti atque corrupti, quos dolores et quas molestias excepturi sint.</li>
        <li><a href="http://www.flickr.com/photos/konaboy/167725083/sizes/o/in/photostream/">Banana #9</a></li>
    </ul>
</div>