---
title: "Example: Caption extension (basic)"
layout: default
---

<style type="text/css">
{% include examples/extensions/caption/basic/example.css %}
</style>

{% include examples/extensions/caption/basic/example.html %}

<h3>CSS</h3>
{% highlight css %}
{% include examples/extensions/caption/basic/example.css %}
{% endhighlight %}

<h3>HTML</h3>
{% highlight html %}
{% include examples/extensions/caption/basic/example.html %}
{% endhighlight %}

<h3>JavaScript</h3>
{% highlight js %}
{% include examples/extensions/caption/basic/example.js %}
{% endhighlight %}

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script type="text/javascript" src="/jquery-slidex/assets/js/jquery.slidex.js"></script>
<script type="text/javascript" src="/jquery-slidex/assets/js/jquery.slidex.caption.js"></script>
<script type="text/javascript">
$(function() {
{% include examples/extensions/caption/basic/example.js %}
});
</script>