<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }} / jQuery Slidex Plugin</title>
        <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.3.0/bootstrap.min.css">
        <link rel="stylesheet" href="http://pages.github.com/shared/css/pygments.css">
        <link rel="stylesheet" href="/jquery-slidex/assets/css/base.css">
    </head>

    <body>

        <div class="topbar">
            <div class="fill">
                <div class="container">
                    <a class="brand" href="/jquery-slidex/">jQuery Slidex Plugin</a>
                    <ul class="nav">
                        <li><a href="/jquery-slidex/">Home</a></li>
                        <li class="active dropdown">
                            <a class="dropdown-toggle" href="#">Examples</a>
                            <ul class="dropdown-menu">
                                <li><a href="/jquery-slidex/examples/index.html">Basic</a></li>
                                <li><a href="/jquery-slidex/examples/multiple-instances.html">Multiple instances</a></li>
                                <li><a href="/jquery-slidex/examples/custom-transition.html">Custom transition</a></li>
                                <li><a href="/jquery-slidex/examples/jquery-ui-effects.html">jQuery UI Effects</a></li>
                                <li><a href="/jquery-slidex/examples/extensions/pagination/index.html">Pagination extension</a></li>
                                <li><a href="/jquery-slidex/examples/extensions/pagination/thumbnails.html">Pagination extension (thumbnails)</a></li>
                                <li><a href="/jquery-slidex/examples/extensions/caption/index.html">Caption extension</a></li>
                                <li><a href="/jquery-slidex/examples/extensions/custom/index.html">Custom extension (progress-bar)</a></li>
                                <li><a href="/jquery-slidex/examples/extensions/custom/pause-on-hover.html">Custom extension (pause-on-hover)</a></li>
                                <li><a href="/jquery-slidex/examples/combining-extensions.html">Combining extensions</a></li>
                            </ul>
                        </li>
                        <li><a href="#download">Download</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="page-header">
                <h1>{{ page.title }} <small>{{ page.subtitle }}</small></h1>
            </div>
            {{ content }}

            <footer>
              <p>&copy; Eugene Leonovich</p>
            </footer>
        </div>

        <script src="http://twitter.github.com/bootstrap/1.4.0/bootstrap-dropdown.js"></script>
        <script type="text/javascript">
            $(function() {
                $('.topbar').dropdown();
            });
        </script>

        <!--
        <div class="container">
            <footer>
                get the source code on GitHub: <a href="https://github.com/rybakit/jquery-slidex">rybakit/jquery-slidex</a>
            </footer>
        </div -->

        <!-- a href="https://github.com/rybakit/jquery-slidex"><img style="position:absolute;top:0;right:0;border:0" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" /></a -->
    </body>
</html>