<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }} / jQuery Slidex Plugin</title>
        <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.3.0/bootstrap.min.css">
        <link rel="stylesheet" href="http://pages.github.com/shared/css/pygments.css">
        <link rel="stylesheet" href="/jquery-slidex/assets/css/base.css">
    </head>

    <body>
        <div class="container">

            <header>
                <h1>jQuery Slidex Plugin</h1>
            </header>

            <div class="content">
                <div class="row">
                    <div class="span12">
                        <h2>{{ page.title }}</h2>
                        {{ content }}
                    </div>
                    <div class="span4">
                        <h3>Examples</h3>
                        <ul>
                            <li><a href="/jquery-slidex/examples/basic.html">Basic</a></li>
                            <li><a href="/jquery-slidex/examples/multiple-instances.html">Multiple instances</a></li>
                            <li><a href="/jquery-slidex/examples/custom-transition.html">Custom transition</a></li>
                            <li><a href="/jquery-slidex/examples/pagination-plugin.html">Pagination plugin</a></li>
                            <li><a href="/jquery-slidex/examples/caption-plugin.html">Caption plugin</a></li>
                            <li><a href="/jquery-slidex/examples/custom-plugin.html">Custom plugin</a></li>
                            <li><a href="/jquery-slidex/examples/combining-plugins.html">Combining plugins</a></li>
                        </ul>
                    </div>
                </div>
          </div>

          <footer>
            get the source code on GitHub: <a href="https://github.com/rybakit/jquery-slidex">rybakit/jquery-slidex</a>
          </footer>

        </div>

        <a href="https://github.com/rybakit/jquery-slidex"><img style="position:absolute;top:0;right:0;border:0" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" /></a>
    </body>
</html>